---
import PostCard from '../../components/PostCard.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import { formatBlogPostsByDate } from '../../scripts/formatBlogPosts';
import { slugify } from '../../scripts/slugify';
import { type CollectionEntry, getCollection } from 'astro:content';





const { category } = Astro.params;


const allPosts: CollectionEntry<'blog'>[]= (await (getCollection('blog'))).sort((a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => b.data.date.valueOf() - a.data.date.valueOf());
const allCategories: string[]= [...new Set(allPosts.map(post => post.data.category).flat())];
const categoryName= allCategories.filter(categoryName => slugify(categoryName) === category);
const categoryPosts= allPosts.filter(post => slugify(post.data.category) === category);
---


<MainLayout title='My Blog'>
    <h3 class="text-xl font-bold mb-5">Artículos sobre <span class="italic font-bold text-[#3D4FF5] dark:text-[#B2C6FE]">{categoryName}<span/></h3>
    <section class="flex flex-col" data-pagefind-ignore>
        {
            categoryPosts.map((post) =><PostCard frontmatter={post.data} url={post.slug}/>)
        }
        </section>
</MainLayout>

