---
import type { MarkdownInstance } from 'astro';
import PostCard from '../../components/PostCard.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import { slugify } from '../../scripts/slugify';
import type { Frontmatter } from '../../scripts/types';
import { formatBlogPostsByDate } from '../../scripts/formatBlogPosts';


// @ts-ignore
export const getStaticPaths= async () =>{
    const allPosts: MarkdownInstance<Frontmatter>[] = await Astro.glob('../blog/*.md');
    const orderPosts= formatBlogPostsByDate(allPosts);
    const allAuthors: string[]= [...new Set(allPosts.map(post => post.frontmatter.author).flat())];
    
    return allAuthors.map(author => {
        const authorPosts= orderPosts.filter(post => post.frontmatter.author === author);
        return {
            params: { author: slugify(author) },
            props: {
                authorName: author,
                posts: authorPosts
            }
        }
    });
}


const { posts, authorName }  = Astro.props;
---

<MainLayout title='My Blog'>
    <h3 class="text-xl font-bold mb-5 -tracking-wide">Artículos de&nbsp;<span class="italic font-bold text-[#3D4FF5] dark:text-[#B2C6FE] -tracking-wide">{authorName}<span/></h3>
    <section class="flex flex-col" data-pagefind-ignore>
        {
            posts.map((post) =><PostCard frontmatter={post.frontmatter} url={post.url}/>)
        }
        </section>
</MainLayout>