@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

* {
  font-family: "Onest";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: white;
  color: #111827;
}

html.dark {
  background-color: #17181c;
  color: #fafafa;
}

body {
  display: block;
  margin: 0 auto;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
