



<section class="flex flex-col gap-7 items-center justify-center">
    <h1 class="font-bold text-4xl text-center -tracking-wider">Ohhhhh pagina no encontrada...</h1> 
    
    <a class="bg-[#3D4FF5] rounded-full py-2 px-4 text-white text-sm" href="/">Go home</a>
</section>




<style>
    section {
        height: 100vh;
    }
</style>