---
import CategoryCloud from "../components/CategoryCloud.astro";
import Pagination from "../components/Pagination.astro";
import PostCard from "../components/PostCard.astro";
import SectionTitle from "../components/SectionTitle.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { slide } from "astro:transitions";
import Search from "../components/Search.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { ARTICLES_PER_PAGE } from "../scripts/constants";




const currentPage: number | null= +Astro.url.searchParams.get('page')! || 1;
const allPosts: CollectionEntry<'blog'>[]= await getCollection('blog');
const totalPages: number= Math.ceil(allPosts.length / ARTICLES_PER_PAGE);


const articleForPage: CollectionEntry<'blog'>[]= allPosts.slice((currentPage - 1) * ARTICLES_PER_PAGE, currentPage * ARTICLES_PER_PAGE)
---

<MainLayout title="My Blog" description="HectorMartinDama Blog">
	<div class="z-10">
		<!-- <Search /> -->
	</div>
	
	<SectionTitle title="Últimos artículos" data-pagefind-ignore />
	<section class="flex flex-col mb-7 box" data-pagefind-ignore >
		<div data-pagefind-ignore transition:animate={slide({ duration: '0.6s' })} class="min-h-[420px]">
			{
				articleForPage.map((post) =><PostCard frontmatter={post.data} url={post.slug}/>)
			}

		</div>
		<Pagination {currentPage} {totalPages} disablePrevious={currentPage === 1} disableNext={currentPage === totalPages}/>
	</section>
	<SectionTitle title="Artículos por temas" data-pagefind-ignore/>
	<section data-pagefind-ignore>
		<CategoryCloud/>
	</section>
</MainLayout>





