---

import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { URL_REPO_EDIT } from '../scripts/constants';
import { extractRelativePathFromSrc } from '../scripts/getPathPostBlogFile';

interface Props {
    file: string;
}

const { file } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<a href={URL_REPO_EDIT.concat(extractRelativePathFromSrc(file))} target="_blank" class="transition-colors duration-300 hover:text-[#3D4FF5] dark:hover:text-[#B2C6FE] font-semibold text-xs flex-row gap-4">{t('editArticle.href')}</a>