---

---




<footer class="flex items-center justify-center w-full h-[100px]  md:mx-[0px] ">
    <ul class="flex flex-row gap-5">
        <li class="text-base font-normal transition-colors duration-200 text-[#555962] dark:text-[#888C96] hover:text-[#17181C] dark:hover:text-[white] ">
            <a href="mailto:info.hectormartindama@gmail.com" target="_blank">Contacto</a>
        </li>
        <li class="text-base font-normal transition-colors duration-200 text-[#555962] dark:text-[#888C96] hover:text-[#17181C] dark:hover:text-[white] ">
            <a href="https://portfolio-hectormartindama.vercel.app/" target="_blank">Portfolio</a>
        </li>
        <li class="text-base font-normal transition-colors duration-200 text-[#555962] dark:text-[#888C96] hover:text-[#17181C] dark:hover:text-[white] ">
            <a href="https://github.com/HectorMartinDama" target="_blank">Github</a>
        </li>
        <li class="text-base font-normal transition-colors duration-200 text-[#555962] dark:text-[#888C96] hover:text-[#17181C] dark:hover:text-[white] ">
            <a href="https://www.linkedin.com/in/héctor-martín-dama-a88a761a2" target="_blank">Linkedin</a>
        </li>
        
    </ul>

</footer>