---
import GithubIcon from "../icons/github.astro"
import MenuIcon from "../icons/menu.astro"
import CloseIcon from "../icons/close.astro"
import ThemeIcon from "./ThemeIcon.astro";
import type { Heading } from "../scripts/types";
import { buildHierarchy } from "../scripts/buildHierarchyTableContent";
import LanguagePicker from "./LanguagePicker.astro";
import { getLangFromUrl } from "../i18n/utils";
import Search from "./Search.astro";



interface Props {
    headings?: Heading[];
}

const { headings }= Astro.props;
const toc=  buildHierarchy(headings);
---


<nav class="flex flex-row justify-between bg-[#F6F7F9] dark:bg-[#23262F] w-full sticky top-0 z-10 border dark:border-[#17181C]">
    <div class="flex items-center">
        <a href="/" class="font-bold mr-[150px] -tracking-wider text-sm flex items-center gap-2 hover:scale-110 group transition" aria-label="Go home">
          <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-code"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
          HectorDev Blog
        </a>
        <div class="hidden md:flex">
          <Search/>
        </div>
    </div>
  
    <ul class="items-center gap-2 hidden md:flex">
        <li>
            <a href="https://github.com/HectorMartinDama/blog" target="_blank" aria-label="Github repository">
                <GithubIcon class="h-5 w-5 hover:scale-125 group transition dark:fill-slate-100"/>
            </a>
        </li>
        <div class="border-r h-[30px] bg-[#dfe1e4] mr-3 ml-3"></div>
          <li transition:persist="theme" class="flex items-center">
            <ThemeIcon />
          </li>
          <li class="ml-2">  
            <LanguagePicker/>
          </li>
     
    </ul>

   

    <input type="checkbox" name="navbar-active" id="navbar-active" class="">
    <label for="navbar-active" class="open-navbar-button">
      <MenuIcon/>
    </label>

   

    <label id="overlay" class="block md:hidden" for="navbar-active"></label>

    <div class="links-container px-[40px] bg-[white] dark:bg-[#2e2e2e]" id="links-container">
      
      <header class="flex flex-row justify-end items-center w-full h-[60px] mb-4">
        <label for="navbar-active" class="close-navbar-button ">
          <CloseIcon/>   
        </label>
      </header>
   

      <div class="flex flex-col justify-between w-full h-full mb-4">
        
        
              <div>
        
              {
                headings && headings.length > 0 && (
                <h3 class="text-sm font-normal mb-3">Contenido del artículo</h3>
                  <ul class="gap-4">
                    {
                      toc.map((heading: Heading) => (
                      <li>
                            <a href={'#' + heading.slug} class="text-xs font-medium transition-colors duration-200 hover:text-[#3D4FF5] dark:hover:text-[#B2C6FE]">{heading.text}</a>
                            { heading.subheadings && heading.subheadings.length > 0 && (
                                <ol class="list-decimal list-inside text-xs ml-4 text-[#555962] dark:text-[#888C96]">
                                        {heading.subheadings.map((subheading: Heading) => (
                                             <li>
                                                 <a href={'#' + subheading.slug} class="text-[#555962] dark:text-[#888C96] text-xs">{subheading.text}</a>
                                             </li>
                                        ))}
                                </ol>
                            )}
                        </li>
                      ))
                    }
                  </ul>
                )
              }
              </div>
        
        
           
            <footer class="border-t-2 py-4 w-full flex flex-row justify-between">
              <div class="flex gap-4">
                <a href="https://github.com/HectorMartinDama" target="_blank">
                  <GithubIcon class="h-5 w-5  dark:fill-slate-100"/>
               </a>
              </div>
              
                <ThemeIcon/>
            </footer>
      </div>
     

    
      
     
    </div>
</nav>





<style>
  nav {
    display: flex;
    align-items: center;
    height: 60px;
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    padding: 0 40px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur bg-gray-300/60 dark:bg-gray-800/60 ring-white/10;
    }
  }


  .open-navbar-button, .close-navbar-button {
      display: none;
  }

  #navbar-active{
    display: none;
  }

  #links-container{
    display: none;
  }
 
 

  @media(max-width: 450px) {
    #links-container{
      flex-direction: column;
      align-items: center;
      position: fixed;
      top: 0;
      right: -100%;
      width: 250px;
      height: 100%;
      transition: 0.5s ease-out;
    }
    .open-navbar-button, .close-navbar-button {
      display: block;
    }

    #navbar-active:checked ~ #links-container{
      display: flex;
      right: 0;
  }

  #navbar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}

</style>
