---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

interface Props {
    currentPage: number;
    totalPages: number;
    disablePrevious: boolean;
    disableNext: boolean;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { currentPage, disablePrevious, disableNext }= Astro.props;
---


<nav aria-label="blog pages" class="flex flex-row">
    {
        !disablePrevious &&   <a href={'?page=' + (currentPage - 1)} class="ml-5 font-bold text-[#3D4FF5] dark:text-[#B2C6FE] hover:underline text-base flex flex-row items-center">{t('pagination.recents')}</a>
    }
    {
        !disableNext &&  <a href={'?page=' + (currentPage + 1)} class="ml-5 font-bold text-[#3D4FF5] dark:text-[#B2C6FE] hover:underline text-base flex flex-row items-center">{t('pagination.previous')}</a>
    }
  
</nav>





