---
import type { MarkdownInstance } from "astro";
import type { Frontmatter } from "../scripts/types";
import { formatDate } from "../scripts/dateFormatter";
import { date } from "astro/zod";

interface Props {
    relatedPosts: MarkdownInstance<Frontmatter>[];
}

const { relatedPosts } = Astro.props;
---

{
    relatedPosts.map((post) => (
        <a href={post.url} class="flex flex-col gap-3 px-6 text-center justify-center items-center font-medium text-base border-2 rounded-[6px] transition-colors duration-200 hover:border-[#3D4FF5] dark:hover:border-[#B2C6FE] w-[300px] h-[174px]">
            {post.frontmatter.title}
            <small class="text-xs">{post.frontmatter.author}&nbsp;·&nbsp;{formatDate(new Date(post.frontmatter.date))}</small>
        </a>
    ))
}
