

<div  id="search" class="h-[35px] text-xs"></div>


<script is:inline>
	window.addEventListener('DOMContentLoaded', (event) => {
	  // @ts-ignore
	  new PagefindUI({ element: "#search", showSubResults: true, showImages: false});
	});
</script>
  