---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { buildHierarchy } from '../scripts/buildHierarchyTableContent';
import type { Heading } from '../scripts/types';
import ShareArticle from './ShareArticle.jsx';

export interface Props {
    headings: {
        slug: string;
        text: string;
        depth: number
    }[]
}

const { headings }= Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const toc=  buildHierarchy(headings);
const { slug } = Astro.params;
---
<section class="h-full flex flex-col justify-between">
    <div class="max-h-full max-w-[300px] overflow-auto">
        <h3 class="text-md font-semibold mb-2">{t('sidebarContentPost.heading')}</h3>
        <nav class="mb-5">
            <ul class="gap-4">
                {
                   toc.map((heading: Heading) =>(
                    <li>
                        <a href={'#' + heading.slug} class="text-xs font-medium transition-colors duration-200 hover:text-[#3D4FF5] dark:hover:text-[#B2C6FE] cursor-pointer text-ellipsis">{heading.text}</a>
                        { heading.subheadings && heading.subheadings.length > 0 && (
                            <ol class="list-decimal list-inside text-xs ml-4 text-[#555962] dark:text-[#888C96]">
                                    {heading.subheadings.map((subheading: Heading) => (
                                         <li>
                                             <a href={'#' + subheading.slug} class="text-[#555962] dark:text-[#888C96] text-xs text-ellipsis">{subheading.text}</a>
                                         </li>
                                    ))}
                            </ol>
                        )}
                    </li>
                   ))
                }
                
              
            </ul>
        </nav>
    </div>

    <div class="flex flex-col justify-between border-t dark:border-[#424347] pb-[150px] w-full">
        <div class="flex flex-row gap-5 items-center justify-center mt-5">
            <a class="w-[150px]" target="_blank" href="https://www.buymeacoffee.com/hectormartindama"><img src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=&slug=hectormartindama&button_colour=FFDD00&font_colour=000000&font_family=Cookie&outline_colour=000000&coffee_colour=ffffff" /></a>
            <ShareArticle client:only="react" text={slug} lang={lang}/>
            
        </div> 
    </div>
</section>