---
import MainHead from './MainHead.astro';
import "../styles/global.css";
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
import type { Heading } from '../scripts/types';



interface Props {
    title: string;
    description?: string;
    headings?: Heading[];
}

const { title, description, headings }= Astro.props


console.log('headings', headings)



---

<html lang="en">
    <MainHead {title}/>	
	<body>
        <Nav {headings}/>
        <div class="flex justify-center mt-[100px] md:mt-[50px] w-full">
            <main class="md:w-[736px] px-[20px] md:px-0 w-full">
                <slot></slot>
            </main>
        </div>
        <Footer/>
	</body>
</html>

